<!DOCTYPE html>
<html>
	<head>
    	{% if title %}
    		<title>{{title}} - Archiver</title>
    	{% else %}
    		<title>Archiver</title>
    	{% endif %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					{% block content %}{% endblock %}
				</div>
			</div>
			{% if g.user.is_authenticated() %}
			<div class="navbar">
				<ul class="nav">
					<li><a href="{{url_for('logout')}}">Log Out</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</body>
</html>