{% extends "base.html" %}
{% block content %}
	<div class="well">
		<form class="form-horizontal" action="" method="post" name="category">
			{{form.hidden_tag()}}
			<div class="control-group{% if form.errors.post %} error{% endif %}">
	        	<label class="control-label" for="name">Name:</label>
	            <div class="controls">
	                {{ form.name(maxlength = 64, class = "span3") }}
	                {% for error in form.errors.name %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
        	<div class="control-group{% if form.errors.post %} error{% endif %}">
	        	<label class="control-label" for="color">Color (optional):</label>
	            <div class="controls">
	                {{ form.color(maxlength = 64, class = "span3") }}
	                {% for error in form.errors.color %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
		</form>
	</div>
{% endblock %}