{% extends "base.html" %}
{% block content %}
	<div class="well">
		<form class="form-horizontal" action="" method="post" name="entry">
			{{form.hidden_tag()}}
			<div class="control-group{% if form.errors.post %} error{% endif %}">
	        	<label class="control-label" for="category">Category:</label>
	            <div class="controls">
	                {{ form.category(class = "span3") }}
	                {% for error in form.errors.category %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
        	<div class="control-group{% if form.errors.post %} error{% endif %}">
            	<label class="control-label" for="amount">Amount (optional) €:</label>
            	<div class="controls">
                	{{ form.amount(class = "span5") }}
	                {% for error in form.errors.amount %}
	                    <span class="help-inline"> [{{error}}]</span><br>
	                {% endfor %}
            	</div>
        	</div>
        	<div class="control-group{% if form.errors.post %} error{% endif %}">
	        	<label class="control-label" for="date">Date:</label>
	            <div class="controls">
	                {{ form.date(class = "span3") }}
	                {% for error in form.errors.date %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
        	<div class="control-group{% if form.errors.post %} error{% endif %}">
	        	<label class="control-label" for="due_date">Due Date (optional):</label>
	            <div class="controls">
	                {{ form.due_date(class = "span3") }}
	                {% for error in form.errors.due_date %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
        	<div class="control-group{% if form.errors.post %} error{% endif %}">
	            <label class="control-label" for="info">Info:</label>
	            <div class="controls">
	                {{ form.info(cols = 64, rows = 4, class = "span4") }}
	                {% for error in form.errors.info %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
        	<div class="control-group{% if form.errors.post %} error{% endif %}">
	        	<label class="control-label" for="check">check:</label>
	            <div class="controls">
	                {{ form.check(class = "span3") }}
	                {% for error in form.errors.check %}
	                    <span class="help-inline">[{{error}}]</span><br>
	                {% endfor %}
	            </div>
        	</div>
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
		</form>
	</div>
{% endblock %}