{% extends "base.html" %}
{% block content %}
<style>
h2 {
	position: relative;
    top: 150px;
    font-size:3000%;
}
</style>
{% if not number %}
	<div class="well" align="center">
		<h1>Klaar om te dobbelen?</h1>
	</div>
{% else %}
	<div align="center", top='20'>
		<h2>{{number}}</h2>
	</div>
	</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endif %}
	<div>
		<form class="form-horizontal" action="" method="post" name="dobbel">
			{{form.hidden_tag()}}
			<div style="text-align:center">
	            <input class="btn btn-primary" type="submit" value="dobbel">
	        </div>
		</form>
	</div>
{% endblock %}