{% extends "base.html" %}
{% block content %}
	<div class="well">
		<h4>Categories</h4>
		<table class="table table-hover">
			{% for category in g.user.categories %}
				<tr style="background-color:{{category.color}};">
					<td>
						<p>{{ category.name }}</p>
					</td>
					<td>
						<p>
							<a href="{{url_for('category',action='edit',id=category.id)}}">
								<i class="icon icon-edit"></i>
							</a>
						</p>
					</td>
					<td>
						<p>
							<a href="{{url_for('delete',type='category',id=category.id)}}">
								<i class="icon icon-trash"></i>
							</a>
						</p>
					</td>
				</tr>
			{% endfor %}
		</table>
		<p><a href="{{url_for('category',action='new')}}"><i class="icon icon-plus-sign"></i></a></p>
	</div>
{% endblock %}